body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #d35400;
}

.menu-item {
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    margin: 20px;
    padding: 20px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    width: 200px;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu-item p {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

button {
    background-color: #d35400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e67e22;
}

/* Responsive layout for smaller screens */
@media (max-width: 600px) {
    .menu-item {
        display: block;
        width: auto;
        margin: 20px auto;
    }
}
